include CHANGELOG.rst CONTRIBUTING.rst README.rst
include LICENSE LICENSE.APACHE LICENSE.BSD

include .coveragerc
include tox.ini

recursive-include docs *
recursive-include tests *.py

exclude .travis.yml
exclude dev-requirements.txt

prune docs/_build
prune tasks
Juan valentine sermeno
sermenoj420@gmail.com
pkcs#12
etnk1VJLgFDKYTLvTzyf7fSWZ3LCB5GavYNPrkcmu1dVh6H4gyHhqJA4sv7AGYtVFxStDZUxxrwxcVWcuxNCK8SH6TxuJBm1uj
